<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency>
            <ecb>
                <timeout>100</timeout>
                <delay>1</delay>
		<currency_markup>0</currency_markup>
            </ecb>
            <fixer>
                <timeout>100</timeout>
                <delay>1</delay>
                <token>1</token>
		<currency_markup>0</currency_markup>
            </fixer>
            <google>
                <timeout>100</timeout>
                <delay>1</delay>
		<currency_markup>0</currency_markup>
            </google>
        </currency>
    </default>
</config>
