<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="currency">
            <group id="ecb" translate="label" sortOrder="42" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>European Central Bank</label>
                <field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Request Delay Time in Seconds</label>
                </field>
                <field id="currency_markup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Markup in percent</label>
                </field>
            </group>
            <group id="fixer" translate="label" sortOrder="42" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Fixer IO</label>
                <field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Request Delay Time in Seconds</label>
                </field>
                <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Access Token</label>
                </field>
                <field id="currency_markup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Markup in percent</label>
                </field>
            </group>
            <group id="google" translate="label" sortOrder="42" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Google Finance</label>
                <field id="timeout" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Timeout in Seconds</label>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Request Delay Time in Seconds</label>
                </field>
                <field id="currency_markup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Markup in percent</label>
                </field>
            </group>
        </section>
    </system>
</config>
